---
- name: configure ufw for nginx
  hosts: all

  tasks:

  - name: Allow connections with OpenSSH
    community.general.ufw:
      rule: allow
      name: OpenSSH
    become: true

  - name: Allow connections on port 80
    community.general.ufw:
      rule: allow
      name: 'Nginx HTTP'
    become: true

  - name: Enable UFW
    community.general.ufw:
      state: enabled

  - name: Check the ufw rule status
    shell: sudo ufw status

  - name: Make sure service unit is running
    ansible.builtin.systemd_service:
      name: nginx
      state: started

    

# https://dev.to/lovestaco/sync-nginx-configs-with-ansible-19cl