- name: Install GPG
  tags: nodejs, install, setup
  apt:
    name: gnupg
    state: present
    update_cache: yes

- name: Install the gpg key for nodejs LTS
  tags: nodesjs, install, setup
  apt_key:
    url: "https://deb.nodesource.com/gpgkey/nodesource-repo.gpg.key"
    state: present

- name: Install the nodejs LTS repos
  tags: nodesjs, install, setup
  apt_repository:
    repo: "deb https://deb.nodesource.com/node_{{ NODEJS_VERSION }}.x {{ ansible_distribution_release }} main"
    state: present
    update_cache: yes

- name: Install NodeJS
  tags: nodesjs, install
  apt:
    name: nodejs
    state: latest